<!DOCTYPE html>
<html>

<head>
    <title>Fake-API Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <div class="container">
        <h1>Fake-API Web App</h1>
        <p>You can call different cURL requests and observe the changes in the below table</p>
        <p>This page is designed for the article: <b>cURL: Hands-on Interacting with APIs</b></p>
        <br>
        <br>
        <div style="width:40%">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for item in data %}
                    <tr>
                        <th scope="row">{{item.player_id}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.team}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="container bcontent">
            <!-- GET Request -->
            <p><b><code>GET</code> request: retrieve data from a specified resource</b></p>
            <p>Retrieve all the players in the table as json format.</p>
            <div class="code_block">
                <pre>curl -X GET https://fake-api-webapp.herokuapp.com/players</pre>
            </div>
            <br>
            <p>Return only response headers with <code>-I</code> option  </p>
            <div class="code_block">
                <pre>curl -X GET -I https://fake-api-webapp.herokuapp.com</pre>
            </div>
            <br>
            <p>Retrieve details of a specific player in the table</p>
            <div class="code_block">
                <pre>curl -X GET https://fake-api-webapp.herokuapp.com/players/1</pre>
            </div>

            <!-- POST Request -->
            <hr>

            <p><b><code>POST</code> request: performs resource-specific processing on the payload</b></p>
            <p>Create a new player</p>
            <div class="code_block">
                <pre>curl -X POST https://fake-api-webapp.herokuapp.com/players \
                    -H "Content-Type: application/json" \
                    -d '{"name" : "Ibrahimovic","team": "AC Milan"}'</pre>
            </div>
            <br>
            <p>Reset player's table</p>
            <div class="code_block">
                <pre>curl -X POST https://fake-api-webapp.herokuapp.com/reset</pre>
            </div>


            <!-- PUT request-->
            <hr>

            <p><b><code>PUT</code> request: replace the target resource with the request payload</b></p>
            <p>Update the existing player's information</p>
            <div class="code_block">
                <pre>curl -X PUT https://fake-api-webapp.herokuapp.com/players/3 \
                    -H "Content-Type: application/json" \
                    -d '{"player_id": 3, "name" : "Lionel Messi","team": "PSG"}'</pre>
            </div>


            <!-- DELETE request-->
            <hr>

            <p><b><code>DELETE</code> request: deletes the specified resources</b></p>
            <p>Delete a player from the list</p>
            <div class="code_block">
                <pre>curl -X DELETE https://fake-api-webapp.herokuapp.com/players/1</pre>
            </div>
    
        </div>

    </div>


    <form action="/switch_mode" method="post">
        <div class="custom-control custom-switch">
            <!-- javascript based form submit is implemented with this.form.submit()-->
            {% if admin_mode ==1 %}
            <input type="checkbox" class="custom-control-input" id="customSwitch1" onChange="this.form.submit()"
                checked>
            {% else %}
            <input type="checkbox" class="custom-control-input" id="customSwitch1" onChange="this.form.submit()">
            {% endif %}


            <label class="custom-control-label" for="customSwitch1">Switch admin mode</label>
        </div>
    </form>







    <br>
    <br>


    {% if admin_mode == 1 %}
    <div>
        <form action="/players" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <input type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="col-sm">
                        <input type="text" class="form-control" name="team" placeholder="Team">
                    </div>


                    <div class="col-sm">
                    <button type="submit" class="btn btn-primary mb-2" value="submit">Create Player</button>
                    </div>
                </div>

                
            </div>

        </form>

        <form action="/reset" method="post">
            <button name="resetBtn" type="submit" class="btn btn-danger">Reset table</button>
        </form>
        {% endif %}
    </div>

</body>

</html>